<!DOCTYPE html>
<html lang='en'>
 <head>
  <title><%= title %></title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <link rel="stylesheet" type="text/css" href="/assets/site.css">
  <script src="/assets/prism.js" defer></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js" defer></script>
 </head>
 <body class="full-height-with-header">
 <header>
  <a class="skip-link" href='#content'>Skip to content</a>
  <nav id="section-nav" aria-label="Sections">
    <ul class="horizontal-list">
      <% top_level_nav.each_with_index do |section, i| %>
      <li <%= (page_section == section) ? "class=\"selected\"" : "" %>><%= link_page(section) %></li>
      <% end %>
    </ul>
  </nav>
 </header>
 <div class="optional-sidebar-layout optional-sidebar-layout-full-height">
  <article id="content">
    <div class="centered-content">
    <%= render_breadcrumbs(page) %>
    <h1><%= title %></h1>
    <% unless page.is_index? || page.last_modified.nil? %>
    <time class="last-updated" datetime="<%= page.last_modified %>">Last updated <%= humanise_time(page.last_modified) %></time>
    <% end %>
    <% if content.nil? %>
    <%= render_index(children) %>
    <% else %>
    <%= content %>
    <% end %>
    </div>
  </article>
  <nav id="sidebar-nav" aria-label="Site navigation">
    <%= render_nav(navigation_root, max_level: 2) %>
  </nav>
 </div>
 </body>
</html>
